@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

html,
body {
  overscroll-behavior: none;
  user-select: none;
  -webkit-user-select: none;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

input,
textarea,
[contenteditable='true'] {
  user-select: text;
  -webkit-user-select: text;
}

::-webkit-scrollbar {
  display: none;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--muted-foreground);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: var(--muted);
}
